body{
	background-color:black;
}
.fundo {
	height:80%;
	background-image: url("design.png");
	background-repeat: no-repeat;	
}
a{
	text-decoration:none;
}
.gen{
	color:black;

}
.inicio{
	font-family: 'Andale Mono', monospace;
	font-size: 26px;
	margin-top:140px;
	margin-left:320px;
}
.inicio1{
	font-family: 'Andale Mono', monospace;
	font-size: 26px;
	margin-left:180px;
}
nav{
	background-color: #042B3D;
}
.txtbusca{
	background-image: url("https://cdn-icons-png.flaticon.com/512/694/694985.png");
	background-repeat: no-repeat;
	background-position: right;
	background-size: 1.3em;
	margin-left:25%;
	border: 1px solid black;
	min-width:5px;
}
.link{
	color: white;
	margin-left:25%;
}
.link1{
	color:white;
	margin-left:25%;
}
.link1:hover{
	color:#B0C4DE;
}
.link:hover{
	color:#B0C4DE;
	}
.generos{
	display:grid;
	color:white;
	text-decoration:none;
	grid-template-columns:repeat(10, 1fr);
	max-width:100%;
	min-width:20%;
	margin-left: 80px;
	font-size: 18px;
	text-align:center;
}
.genero{
	background-color: #042B3D;
	transition-duration: 400ms;
	max-width:130px;
	min-height: 100px;
	font-size: 18px;
	align-self:center;
	align-content:center;

}
.genero:hover{
	background-image: radial-gradient(circle, #FFFAFA, #06364D );
	font-size:20px;
	color:white;
	border: 1.5px dashed white;
}
.secoes{
	color:white;
	font-size: 30px;
	text-align:center;
	font-family: 'American Typewriter', serif;
}
.voltar{
	color:white;
	font-size: 18px;
	margin-left:43.5%;
	background-color:#042B3D;
	padding:0.8%;

}
footer{
	background-color:#042B3D;
	padding-top:0.8%;
	padding-bottom:0.5%;
}
footer:hover{
	border: 1.5px dashed white;
}
.catalago{
	display:flex;
	width:100%;
	overflow:hidden;
}
.livro{
	padding:1%;
	width:9%;
	height:10%;
	transition-duration:1s;
	font-size:4px;
}
.livro:hover{
	padding:2%;
	height:20%;
	width:20%;
	color:white;
	font-size:18px;
}
.titulo{
	font-size: 24px;
}
.autor{
	font-family:Centaur;
}


